@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Silkscreen:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background: url("img/background.jpg");
    background-size: cover;
}

.main{
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.frame{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55vw;
    height: 65vh;
    background: rgba(0, 0, 0, 0.75);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(116, 0, 0, 0.726);
    backdrop-filter: blur(10.7px);
    -webkit-backdrop-filter: blur(10.7px);
    border: 1px solid rgba(0, 0, 0, 0.39);

}

.content{
    width: 48vw;
    height: 56vh;
}

.title{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48vw;
    height: 16vh;
}

.title p{
    font-family: "Press Start 2P";
    font-size: 22px;
    color: white;
}

.heroes{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 48vw;
    height: 32vh;

}

.hero{
    width: 10vw;
}


.hero img{
    width: 10vw;
}

.name{
    display: flex;
    justify-content: center;
    margin-top: 1vh;
}

.name input{
    width: 9vw;
    height: 3vh;
    color: white;
    background-color: transparent;
    border: none; 
    border-bottom: 2px solid rgba(165, 42, 42, 0.67); 
    outline: none;
    padding: 5px; 
    font-size: 14px; 
    font-family: "Silkscreen";
    
}

.name p{
    color: white;
    font-size: 14px; 
    font-family: "Silkscreen";
}

.startButton{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48vw;
    height: 10vh;
}

.startButton button{
    width: 10vw;
    height: 6vh;
    background: rgba(116, 0, 0);
    color: white;
    font-size: 12px;
    font-family: "Silkscreen";
    border:none;
    outline: none;
    border-radius: 4px;
}

.startButton button:hover{
    background: rgb(93, 1, 1);
}

.contentGame{
    display: none;
    width: 48vw;
    height: 56vh;
}

.titleGame{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48vw;
    height: 12vh;
}

.titleGame p{
    font-family: "Press Start 2P";
    font-size: 22px;
    color: white;
}

#upHero{
    margin-top: 2vh;
    width: 7vw;
    height: 5vh;
    background: rgba(116, 0, 0);
    color: white;
    font-size: 10px;
    font-family: "Silkscreen";
    border:none;
    outline: none;
    border-radius: 2px;
}

#upHero:hover{
    background: rgb(93, 1, 1);
}

#btnFight{
    margin-top: 6vh;
}

.gym{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48vw;
    height: 6vh;
    color: white;
    font-size: 10px;
    font-family: "Silkscreen";

}